name: Performance Lab Auto Booking

on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  booking:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Google Chrome
        run: |
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt-get update
          sudo apt-get install -y ./google-chrome-stable_current_amd64.deb

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Python Dependencies
        run: |
          pip install selenium webdriver-manager requests

      - name: Run Auto Booking
        env:
          GYM_CODE: ${{ secrets.GYM_CODE }}
          GYM_NAME: ${{ secrets.GYM_NAME }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          python3 main.py
