name: Performance Lab Auto Booking

on:
  schedule:
    - cron: "0 18 * * *"   # 01:00 WIB
  workflow_dispatch:

permissions:
  contents: read

jobs:
  booking:
    runs-on: ubuntu-latest

    steps:

      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # 3. Install Python dependencies
      - name: Install Python dependencies
        run: |
          pip install selenium webdriver-manager requests

      # 4. Jalankan script dengan log file booking_log.txt
      - name: Run booking script
        env:
          GYM_CODE: ${{ secrets.GYM_CODE }}
          GYM_NAME: ${{ secrets.GYM_NAME }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          echo "----- BOOKING LOG START -----" > booking_log.txt
          python3 main.py >> booking_log.txt 2>&1
          echo "----- BOOKING LOG END -----" >> booking_log.txt

      # 5. Upload log sebagai artifact
      - name: Upload log file
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: booking-log
          path: booking_log.txt
