name: Performance Lab Auto Booking

on:
  schedule:
    - cron: "0 18 * * *"   # 01:00 WIB
  workflow_dispatch:

jobs:
  booking:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install Chrome dependencies (Ubuntu 24.04 compatible)
      - name: Install Chrome dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            xvfb \
            libnss3 \
            libxss1 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libcups2 \
            libxdamage1 \
            libxrandr2 \
            libgbm1 \
            libgtk-3-0 \
            libasound2t64

      - name: Install Google Chro
