name: Auto Reserve Gym

on:
  schedule:
    - cron: "0 17 * * *"   # 01:00 WIB
  workflow_dispatch:

jobs:
  reserve:
    runs-on: ubuntu-latest

    # Gunakan container Selenium dengan Chrome bawaan
    container:
      image: selenium/standalone-chrome:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install python & dependencies
      run: |
        apt update
        apt install -y python3 python3-pip
        pip install selenium

    - name: Run auto-reserve bot
      env:
        GYM_CODE: ${{ secrets.GYM_CODE }}
        GYM_NAME: ${{ secrets.GYM_NAME }}
      run: python3 main.py
