
name: Auto Booking Gym

on:
  schedule:
    - cron: "0 17 * * *"   # 17 UTC = 01:00 WIB
  workflow_dispatch:

jobs:
  runbot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install selenium webdriver-manager

      - name: Run bot
        env:
          GYM_CODE: ${{ secrets.GYM_CODE }}
          GYM_NAME: ${{ secrets.GYM_NAME }}
        run: python test.py
